<!DOCTYPE html>
<html>
<head>
  <title>Truckwatcher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="jumbotron">
        <h1>
          CS5331 Project 2 | <em>Demo Web App</em>
        </h1>

        <hr>
        <p style="text-align: center;">
          <a id="modal-923712" href="#modal-container-923712" role="button" class="btn btn-primary btn-large" data-toggle="modal">BACKGROUND & OBJECTIVES</a>
        </p>
      </div>


      <div class="modal fade" id="modal-container-923712" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h4 class="modal-title" id="myModalLabel">
                BACKGROUND AND OBJECTIVES
              </h4>
            </div>
            <div class="modal-body">
              <p>The second project of the semester entails an investigation of rule mining techniques and their implementation using the WEKA tool.  For this project, students were instructed to investigate their choice of two different rule types:  association rules (as derived by the Apriori family of algorithms) and decision tree rules (using decision trees like C4.5).</p>
              <p>The goals of this project lined up perfectly with what I sought to achieve in this course:  to learn effective new data mining techniques to increase the efficiency of the company I work for.  Therefore, I chose to stick within the domain of what our company deals with on a typical day-to-day basis.  Our development team had just completed a Fleet Asset System which tracks all vehicle assets owned by the company, along with their service and maintenance history.  One common problem that our administrators face is when to determine a vehicle has outlived its usefulness, or has become too expensive to maintain and continue using.  This is a particularly troublesome problem in our company, as we have upwards of 600 fleet vehicles at any time and the administrators may not be able to inspect each one personally.  Therefore, I hypothesize that by using past historical data regarding fleet assets and the conditions under which they were retired, a decision tree algorithm can be used on current fleet assets to flag vehicles that should be inspected personally and be placed under consideration for retirement.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>

      </div>


        <%= yield %>


    </div>
  </div>
</div>

</body>
</html>
